#DATABASE CONFIG
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=127.0.0.1
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=1234
TYPEORM_DATABASE=datawow-test
TYPEORM_LOGGING=query,error
TYPEORM_LOGGER=file
TYPEORM_DROP_SCHEMA=false
TYPEORM_SYNCHRONIZE="true"